# Node / build
node_modules
dist
.cache
.tmp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-error.log*

# Env / secrets
.env
.env.local
.env.*.local

# Vite
.vite

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/
